[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
typer = "*"
nltk = "*"
numpy = "*"
requests = "*"
asyncpg = "*"
psycopg2 = "*"
pytest-asyncio = "*"
fastapi = "*"
uvicorn = "*"
sqlmodel = "*"
pydantic = {extras = ["email"], version = "*"}
email-validator = "*"
pydantic-settings = "*"
httpx = "*"
py-dict-client = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
